In [2]:
import pandas as pd
import numpy as np

In [6]:
df=pd.read_csv('sales_082020.csv')
df

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03
1,o79pns1qwo,GB,50xki2yg,GB,38chj507o6h2,Outerwear,Adidas Originals,GBP,15.92,2020-08-09
2,sjgbjdkhqx,GB,50xki2yg,GB,i9ynyxj5tdp8,Tops - Mens,NaN,GBP,6.37,2020-08-07
3,o79pns1qwo,GB,s0p322hh,GB,t50xe7moye8v,Tops - Mens,Berghaus,GBP,25.27,2020-08-09
4,o79pns1qwo,GB,dpkx192v,GB,hp4r9bjq68af,Bottoms - Womens,NaN,GBP,8.90,2020-08-09
...,...,...,...,...,...,...,...,...,...,...
237666,p7ibf7soot,GB,ss7jy9ks,GB,hzc7pmjxmsb6,Bottoms - Womens,NaN,GBP,17.11,2020-08-06
237667,2hg8zirueq,US,bk6apusi,US,fskn84lfyrvz,Home,NaN,USD,69.00,2020-08-05
237668,k5hmcfxcs6,GB,n2ez0xph,GB,5afe7yhdpcmz,Other,NaN,GBP,58.28,2020-08-05
237669,ca8nc8qv1x,GB,j1s4nqxb,GB,ktdrjbrq0fo2,Shoes,NaN,GBP,9.46,2020-08-05
237670,z09h7w9zcd,US,0au7baxi,US,0r1qni2g1zi4,Other,NaN,USD,160.76,2020-08-06

In [13]:
df.new_total.sum()

250646800.9909249

In [17]:
df.describe(include='all')

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date_x,date_y,rate,new_total
count,2376710,2376710,2376710,2376710,2376710,2376550,1193300,2376710,2.376710e+06,2376710,2376710,2.376710e+06,2.376710e+06
unique,139700,9,114227,9,226311,24,1134,22,NaN,7,10,NaN,NaN
top,x0aflhz7fd,GB,pzsiehl0,GB,fb59ug7bzkz5,Tops - Womens,Nike,GBP,NaN,2020-08-08,8/1/2020,NaN,NaN
freq,2180,1347040,7030,1392030,1770,454500,95750,1394780,NaN,365410,237671,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.835738e+01,NaN,NaN,1.037266e+00,1.054596e+02
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.289511e+01,NaN,NaN,9.746921e-01,2.652762e+04
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000e-02,NaN,NaN,8.977500e-01,8.977500e-03
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.127000e+01,NaN,NaN,9.027800e-01,1.118162e+01
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.848000e+01,NaN,NaN,9.038350e-01,1.887688e+01
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.118000e+01,NaN,NaN,1.178035e+00,3.271576e+01
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.691918e+04,NaN,NaN,3.462725e+02,1.278410e+07

In [14]:
df.groupby('currency').new_total.sum()

currency
AUD    5.361394e+06
BRL    2.202066e+03
CAD    1.026103e+06
CHF    6.434702e+04
CZK    1.029617e+06
DKK    3.614907e+05
EUR    2.758377e+06
GBP    3.110231e+07
HKD    9.887459e+03
HUF    1.275158e+08
ILS    1.359309e+03
JPY    4.959666e+07
MXN    1.030273e+05
MYR    1.307724e+04
NOK    3.382887e+05
NZD    1.875895e+05
PLN    3.058378e+04
SEK    1.124060e+06
SGD    7.181512e+03
THB    4.499398e+05
TWD    1.485054e+04
USD    2.954866e+07
Name: new_total, dtype: float64

In [22]:
df

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date_x,date_y,rate,new_total
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03,8/1/2020,0.900185,17.202535
1,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03,8/2/2020,0.899325,17.186101
2,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03,8/3/2020,0.899350,17.186578
3,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03,8/4/2020,0.902815,17.252795
4,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03,8/5/2020,0.904500,17.284995
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2376705,rrfjxzbdxu,US,w2pozh7u,US,5mm5eg99xbu2,Bottoms - Womens,Brandy Melville,BRL,34.92,2020-08-06,8/6/2020,6.332400,221.127408
2376706,rrfjxzbdxu,US,w2pozh7u,US,5mm5eg99xbu2,Bottoms - Womens,Brandy Melville,BRL,34.92,2020-08-06,8/7/2020,6.411100,223.875612
2376707,rrfjxzbdxu,US,w2pozh7u,US,5mm5eg99xbu2,Bottoms - Womens,Brandy Melville,BRL,34.92,2020-08-06,8/8/2020,6.411100,223.875612
2376708,rrfjxzbdxu,US,w2pozh7u,US,5mm5eg99xbu2,Bottoms - Womens,Brandy Melville,BRL,34.92,2020-08-06,8/9/2020,6.411100,223.875612
2376709,rrfjxzbdxu,US,w2pozh7u,US,5mm5eg99xbu2,Bottoms - Womens,Brandy Melville,BRL,34.92,2020-08-06,8/10/2020,6.435100,224.713692

In [61]:
((df.groupby('brand').brand.count()>= 35)&(df.groupby('brand').brand.count()<= 55)) .value_counts()

False    1053
True       81
Name: brand, dtype: int64

In [49]:
df[df.category=='Jewellery'].brand.isnull().value_counts()

True     13525
False     1398
Name: brand, dtype: int64

In [ ]:
((df.groupby('brand').brand.count()>= 35)&(df.groupby('brand').brand.count()<= 55)) .value_counts()

NameError: name 'df' is not defined

In [64]:
((df.buyer_country == 'AU')&(df.category =='Shoes' )).value_counts()

False    237013
True        658
dtype: int64

In [15]:
df.groupby('brand').new_total.mean().sort_values(ascending=False)

brand
Goyard                    344.691879
Loeffler Randall          288.862599
Loewe                     272.340392
Walter Van Beirendonck    255.049488
Craig Green               216.344300
                             ...
Sleek                       4.310996
MUA                         4.225780
Max Factor                  3.526993
360 Cashmere                1.321378
36572                       1.321378
Name: new_total, Length: 1134, dtype: float64

In [14]:
df[(df.buyer_country == 'GB')&(df.seller_country =='GB' )].new_total.sum()

28746850.52925215

In [75]:

(df[(df.buyer_country == 'US')&(df.seller_country =='US' )].seller_country.count())/(df[(df.seller_country == 'US')].seller_country.count())

0.9823044415486354

In [10]:
df1=pd.read_csv('currency_rates_082020_EUR.csv')

In [11]:
df=df.merge(df1,on='currency')
df

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date_x,date_y,rate
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03,8/1/2020,0.900185
1,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03,8/2/2020,0.899325
2,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03,8/3/2020,0.899350
3,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03,8/4/2020,0.902815
4,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03,8/5/2020,0.904500
...,...,...,...,...,...,...,...,...,...,...,...,...
2376705,rrfjxzbdxu,US,w2pozh7u,US,5mm5eg99xbu2,Bottoms - Womens,Brandy Melville,BRL,34.92,2020-08-06,8/6/2020,6.332400
2376706,rrfjxzbdxu,US,w2pozh7u,US,5mm5eg99xbu2,Bottoms - Womens,Brandy Melville,BRL,34.92,2020-08-06,8/7/2020,6.411100
2376707,rrfjxzbdxu,US,w2pozh7u,US,5mm5eg99xbu2,Bottoms - Womens,Brandy Melville,BRL,34.92,2020-08-06,8/8/2020,6.411100
2376708,rrfjxzbdxu,US,w2pozh7u,US,5mm5eg99xbu2,Bottoms - Womens,Brandy Melville,BRL,34.92,2020-08-06,8/9/2020,6.411100
2376709,rrfjxzbdxu,US,w2pozh7u,US,5mm5eg99xbu2,Bottoms - Womens,Brandy Melville,BRL,34.92,2020-08-06,8/10/2020,6.435100

In [12]:
df['new_total']=df.rate*df.price

In [12]:
df

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date_x,date_y,rate,new_total
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03,8/1/2020,0.900185,17.202535
1,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03,8/2/2020,0.899325,17.186101
2,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03,8/3/2020,0.899350,17.186578
3,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03,8/4/2020,0.902815,17.252795
4,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03,8/5/2020,0.904500,17.284995
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2376705,rrfjxzbdxu,US,w2pozh7u,US,5mm5eg99xbu2,Bottoms - Womens,Brandy Melville,BRL,34.92,2020-08-06,8/6/2020,6.332400,221.127408
2376706,rrfjxzbdxu,US,w2pozh7u,US,5mm5eg99xbu2,Bottoms - Womens,Brandy Melville,BRL,34.92,2020-08-06,8/7/2020,6.411100,223.875612
2376707,rrfjxzbdxu,US,w2pozh7u,US,5mm5eg99xbu2,Bottoms - Womens,Brandy Melville,BRL,34.92,2020-08-06,8/8/2020,6.411100,223.875612
2376708,rrfjxzbdxu,US,w2pozh7u,US,5mm5eg99xbu2,Bottoms - Womens,Brandy Melville,BRL,34.92,2020-08-06,8/9/2020,6.411100,223.875612
2376709,rrfjxzbdxu,US,w2pozh7u,US,5mm5eg99xbu2,Bottoms - Womens,Brandy Melville,BRL,34.92,2020-08-06,8/10/2020,6.435100,224.713692